[Unit]
Description=A-Roma Software
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/aroma-software
Environment=PATH=/opt/aroma-software/venv/bin
ExecStart=/opt/aroma-software/venv/bin/python main.py --host 0.0.0.0:80
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
